# Environment variables
.env

# Data and logs
data/
# data/FMA_medium/
# data/metadata/
.logs/

# Model checkpoints
checkpoints/
# Saved models
models/
# Trash or temporary files
.trash/

# Editor-specific settings
.vscode/
